.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.button {
    color: #333;
    background: #ffffff;
    padding: 15px 20px;
    transition: .5s;
    border-radius: 25px;
    border: black solid 1px;
}

.button:hover {
    background-color: black;
    color: #fff;
}
a{
    text-decoration: none;
}